

.warp {
  width: 180px;
  margin: 40px auto;
}
.warp input{
  width: 100%;
}

.warp .result{
  width: 100%;
  line-height: 18px;
  min-height: 18px;
  background: #ccc;
  padding:0 2px;
  margin: 2px 0;
}
.warp .result.error{
  border: 1px solid red;
}
.action_warp {
  display: flex;
  flex-wrap: wrap;
}
.action_warp button{
  width: 40px;
  height: 22px;
  line-height: 22px;
  margin: 2px;
}

.number_warp {
  display: flex;
  flex-wrap: wrap;
}
.number_warp button{
  width: 40px;
  height: 40px;
  margin: 2px;
}